.inner {
  width: 100%;
}

.rangeContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.range {
  margin-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  max-width: 100px;
}

.miningButton {
  display: block;
  margin-top: 0.5rem;
}

.mintForm {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.topMargin {
  margin-top: 0.5rem;
}

.mintDirections {
  padding: 0.5rem;
  width: 0;
  min-width: 50%;
}

.miningStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
